<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.project.jatz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".database.App"
            android:allowBackup="true"
            android:icon="@mipmap/jatz_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".view.activities.BoardsActivity"
                android:theme="@style/AppBoardsTheme">
        </activity>
        <activity android:name=".view.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activities.MainActivity"
                android:theme="@style/AppMainTheme">
        </activity>
        <activity
                android:name=".view.activities.SignUpActivity"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".view.activities.LoginActivity"
                android:theme="@style/AppTheme">
        </activity>

        <meta-data
                android:name="com.parse.SERVER_URL"
                android:value="@string/parse_server_url"/>
        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="@string/parse_app_id"/>
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="@string/parse_client_key"/>
    </application>

</manifest>